<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Control Plugin  -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robotNamespace>/bipedal</robotNamespace>
            <parameters>$(find bipedal_description)/controllers/bipedal_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="link_hip">
        <material>Gazebo/Red</material>
        <static>true</static>
    </gazebo>

    <gazebo reference="link_spine">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="link_hip_hinge.L">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="link_hip_hinge.R">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="link_thigh.L">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="link_thigh.R">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="link_leg.L">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="link_leg.R">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="link_foot.L">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="link_foot.R">
        <material>Gazebo/Red</material>
    </gazebo>

</robot>
