<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="reachy_bipedal">

    <xacro:arg name="use_fake_hardware" default="false"/>
    <xacro:arg name="use_gazebo" default="false"/>

    <xacro:arg name="robot_config" default="full"/>
    <xacro:arg name="orbita_hardware_zero" default="0.0, 0.0, 0.0"/>

    <xacro:include filename="$(find bipedal_description)/urdf/leg.urdf.xacro"/>

    <link name="world"/>
    <joint name="world_joint" type="fixed">
        <origin xyz="0 0 1.0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="hip"/>
    </joint>

    <link name="hip">
        <inertial>
            <origin xyz="0.0 0.019 -0.009" rpy="0.0 0.0 0.0"/>
            <mass value="0.527"/>
            <inertia ixx="2.89598e-3" ixy="-1.16791e-6" ixz="-8.28749e-6" iyy="4.491e-3" iyz="2.343e-4" izz="3.995e-3"/>
        </inertial>
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="file://$(find bipedal_description)/meshes/torso.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 -0.1" rpy="0 0.05 0"/>
            <geometry>
                <box size="0.11 0.2 0.32"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference="hip">
        <material>Gazebo/White</material>
        <static>true</static>
    </gazebo>


    <!--MODEL PARAMETERS-->
    <xacro:property name="damping" value="0.1"/>
    <xacro:property name="friction" value="0.1"/>
    <xacro:property name="robot_config" value="$(arg robot_config)"/>

    <xacro:if value="${robot_config == 'full'}">
        <xacro:property name="use_right_leg" value="true"/>
        <xacro:property name="use_left_leg" value="true"/>
    </xacro:if>

    <xacro:if value="${robot_config == 'left'}">
        <xacro:property name="use_right_leg" value="false"/>
        <xacro:property name="use_left_leg" value="true"/>
    </xacro:if>

    <xacro:if value="${robot_config == 'right'}">
        <xacro:property name="use_right_leg" value="true"/>
        <xacro:property name="use_left_leg" value="false"/>
    </xacro:if>


    <xacro:if value="${use_left_leg}">
        <!-- LEFT LEG-->
        <xacro:leg
                prefix="l" parent="hip" side="left"
                damping="${damping}" friction="${friction}"
                serial_port="/dev/usb2ax_left_leg"
                mx_ids="20, 21, 22, 23, 24, 25, 26, 27"
                offsets="1.57, -1.57, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0"
                is_direct="1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0"
                reductions="1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, -2.0"
        />
    </xacro:if>

    <xacro:if value="${use_right_leg}">
        <!-- RIGHT LEG-->
        <xacro:leg
                prefix="r" parent="hip" side="right"
                damping="${damping}" friction="${friction}"
                serial_port="/dev/usb2ax_right_leg"
                mx_ids="10, 11, 12, 13, 14, 15, 16, 17"
                offsets="1.57, 1.57, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0"
                is_direct="0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0"
                reductions="1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, -2.0"
        />
    </xacro:if>


    <xacro:if value="$(arg use_gazebo)">
        <gazebo>
            <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
                <parameters>$(find bipedal_bringup)/config/bipedal_${robot_config}_controllers.yaml</parameters>
                <robotNamespace>/bipedal</robotNamespace>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>
