<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bipedal">

  <!-- Macros -->

  <xacro:include filename="$(find bipedal_description)/ros2_control/spine_control.ros2_control.xacro"/>
  <xacro:include filename="$(find bipedal_description)/ros2_control/leg_control.ros2_control.xacro"/>

  <!-- Arguments -->

  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="use_gazebo" default="false"/>

  <!-- Blender/Phobos generated description  -->

  <!-- <link name="world"/>
  <joint name="world_joint" type="fixed">
      <origin xyz="0 0 1.0" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="link_hip"/>
  </joint> -->


  <link name="world"/>
  <joint name="world_joint" type="fixed">
        <origin xyz="0 0 0.964145" rpy="0 0 0"/>  <!-- 0.964145 is the height of the robot form its origin -->
      <parent link="world"/>
      <child link="link_hip"/>
  </joint>

  <xacro:include filename="$(find bipedal_description)/urdf/phobos_generated.urdf"/>
  <!-- NOTE: Change all relative paths "../" with "package://bipedal_description/" -->

  <!-- <gazebo reference="link_hip">
      <material>Gazebo/White</material>
      <static>true</static>
  </gazebo> -->

  <!-- ROS 2 Control -->
  
  <xacro:spine_control/>

  <xacro:leg_control 
    side="L"
  />

  <xacro:leg_control 
    side="R"
  />

</robot>
